<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do lsit</title>
    <h2 id="p1"></h2>
    <script>
        console.log("function is running ")
        var temp='hi'
        const gre="todoapp"
        var ws= new WebSocket("ws://127.0.01:8000/ws/sc/"+gre+"/")
        ws.addEventListener('error', function (event) {
            console.log('WebSocket error: ', event);
          });
        ws.onopen= function(){
            console.log('WebSocket connect open...')
            ws.send('hi, msg from client..')
        }      
        ws.onmessage= function(event){
            temp=event.data
            console.log('WebSocket Recived Message from server...',event.data)
            data=JSON.parse(event.data)
            document.getElementById("p1").innerText=data.msg
        }
        ws.onerror= function(event){
            console.log('WebSocket Error occured ...',event)
        }
        ws.onclose= function(event){
            console.log('WebSocket Connection CLosed ...',event)

        }
        window.setTimeout(function () {
            window.location.reload();
          }, 30000);
    
    </script>
</head>
<body>
<div class="login-form">       
    <h1>To Do List site</h1>
    <ul>
        {% for i in all_items %}
        <li>{{i.content}}
            <form action="/deleteTodoItem/{{i.id}}/" method="post">
                {%csrf_token%}
                <input type="submit" value="Delete"> 
            </form>           
        </li>
        {%endfor%}
    </ul>
    <form action="/addTodoItem/" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input id="text1" type="text" name="content">
        <br>
        <label for="img">Select image:</label>
        <input type="file" id="img2" name="img" accept="image/*">
        <input id="click1" " type="submit" value="Add Todo item">
    </form>
    <br>
    <br>
    <div>
    <form action="home.html" method="post">
        {%csrf_token%}
         {{form}}
        <input type="submit" value="Log Out">
    </form>
    <br>
    <br>   
    {%for x in all_items%}
    <div class="row">
        <div class="col-sm-4">
            <div class="card-m-2">
                <img src="{{x.image}}" alt="" class="card-img-top" height="200px">
            </div>
        </div>
        {%endfor%}
</div>
</div>
</body>
</html>