<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <form action="home" method="post">{%csrf_token%}
        <h2><center> Email or Password is incorrect</center></h2>
        <h2><center> Go to Home page</center></h2>
        <center><button type="submit" value="Home">Home</button></center>
    </form>
</body>
</html>